services:
  - type: web
    name: coding-interview-platform
    runtime: docker
    plan: free
    region: oregon
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
    dockerContext: .
    dockerfilePath: Dockerfile
