services:
  - type: web
    name: backend
    runtime: docker
    dockerfilePath: backend/Dockerfile
    envVars:
      - key: PORT
        value: "3000"

  - type: web
    name: frontend
    runtime: docker
    dockerfilePath: frontend/Dockerfile
    dockerCommand: docker build --build-arg VITE_BACKEND_URL=$VITE_BACKEND_URL -f frontend/Dockerfile .
    envVars:
      - key: BACKEND_URL
        fromService:
          type: web
          name: backend
          property: url
      - key: VITE_BACKEND_URL
        fromService:
          type: web
          name: backend
          property: url
